.consultation {
  background: url(/src/img/bg/bg2.png) center (center/cover) no-repeat;
  height: 680px;
  padding: 100px 0 92px 0;
  &__header {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subheader {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
  }
}
